<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .clearfix::after {
        content: '';
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <!-- HTML结构 -->
    <div class="container clearfix">
      <div style="float: left;width: 100px;">Left Floated Element</div>
      <div style="float: left;width: calc(100vw - 200px);">
        首次参赛的大城市的
        首次参赛的匹配程度的市场的都的成功固定收费电视大苏打多少吃多少吃多少参赛的大城
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的
        市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的首次参赛的大城市的 二位
      </div>
      <div style="float: right;width: 100px;">Right Floated Element</div>
    </div>
  </body>
</html>
